In [1]:
lst = ['Brijraj',1,23,'Nirjara']
print(lst)

['Brijraj', 1, 23, 'Nirjara']

In [2]:
for i in lst:
    print(i)

Brijraj
1
23
Nirjara

In [3]:
lst2 = ['Cochella',1,'Drongo']

In [4]:
lst.append(lst2)

In [5]:
print(lst)

['Brijraj', 1, 23, 'Nirjara', ['Cochella', 1, 'Drongo']]

In [7]:
lst[4]

['Cochella', 1, 'Drongo']

In [8]:
lst[-1]

['Cochella', 1, 'Drongo']

In [9]:
type(lst)

list

In [10]:
type(lst2)

list

In [12]:
lst.reverse()

In [13]:
lst

[['Cochella', 1, 'Drongo'], 'Nirjara', 23, 1, 'Brijraj']

In [14]:
lst[1:4]

['Nirjara', 23, 1]

In [15]:
lst

[['Cochella', 1, 'Drongo'], 'Nirjara', 23, 1, 'Brijraj']

In [16]:
#Slicing the list 
lst[:]

[['Cochella', 1, 'Drongo'], 'Nirjara', 23, 1, 'Brijraj']

In [20]:
lst[1:5444444444444444444]

['Nirjara', 23, 1, 'Brijraj']

In [25]:
#Always take -1 if you are upto negative slicing don't take any value less than -1
print(lst[0:4:1])
print(lst[::-1])

[['Cochella', 1, 'Drongo'], 'Nirjara', 23, 1]
['Brijraj', 1, 23, 'Nirjara', ['Cochella', 1, 'Drongo']]

In [26]:
for i in lst :
    lst = input()

Brijraj
Freddy
1
2
3

In [27]:
lst

'3'

In [28]:
print(lst)

3

In [29]:
type(lst)

str

In [33]:
lst = list()
for i in lst:
   lst =  input("Enter your name:")

In [34]:
type(lst)

list

In [35]:
lst = list()
n = int(input("Enter the length of list:"))
for i in range (0,n):
    k = input("Enter the value:")
    lst.append(k)

Enter the length of list:4
Enter the value:Brijraj
Enter the value:Sneha
Enter the value:Mahek
Enter the value:Hiya

In [36]:
print(lst)

['Brijraj', 'Sneha', 'Mahek', 'Hiya']

In [40]:
print(len(lst))
print(max(lst))
print(min(lst))

4
Sneha
Brijraj

In [42]:
lst.insert(0,"Ayusha")

In [43]:
print(lst)

['Ayusha', 'Brijraj', 'Sneha', 'Mahek', 'Hiya']

In [49]:
lst.remove("Brijraj")
print(lst)

['Sneha', 'Mahek', 'Hiya']

In [50]:
lst.pop()

'Hiya'

In [62]:
print(lst)
lst[0] = "Brijraj"
print(lst)
print(lst.pop())
lst

['Sneha']
['Brijraj']
Brijraj

[]

In [52]:
#Tuple
"""Mutable = Can Change
Immutable = Cannot change"""

In [73]:
# Tiples are immutable i.e their values can't be changed 
tup = (1,2,3,3,3,3)
tup[3]=1

TypeError: 'tuple' object does not support item assignment

In [68]:
#Swap 2 nos in Python without third variable 
a=10
b=20
a,b = b,a
print(a)
print(b)

20
10

In [78]:
lst1 = [1,3,4,4,4,4,4,4]
lst2 = [4,3,4,4,2,2]
lst1.extend(lst2)
print(lst1)

[1, 3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 2, 2]